<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Classifier</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .container {
            font-family: 'Segoe UI', 'Tahoma', 'Geneva', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
         <h1>Spam Classifier</h1>

        <form action="/classifier" method="post">
            <label for="user_input">Enter Text:</label>
            <input type="text" id="user_input" name="user_input" required>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <h2>Prediction:</h2>
            <p>{{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>