<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Classifier</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .container {
            font-family: 'Segoe UI', 'Tahoma', 'Geneva', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
         <h1>NLP Classifier</h1>

        <form action="/classifier" method="post">
            <label for="input_text">Enter Text:</label>
            <input type="text" id="input_text" name="input_text" required>
            <input type="radio" id="input_type_spam" name="input_type" value="spam" required/>
            <label for="input_type_spam">detect spam</label>
            <input type="radio" id="input_type_sentiment" name="input_type" value="sentiment" required/>
            <label for="input_type_sentiment">detect a sentiment</label>
            <br>
            <button type="submit">classify</button>
            <br>
        </form>

        {% if classification %}
            <h2>classification:</h2>
            <p>{{ classification }}</p>
        {% endif %}
    </div>
</body>
</html>