<style>
  #suggestedInputs {
    height: 20%;
    width: 30%;

  }  .suggested_input_span {
    display: inline-block;
    padding: 5px;
    border: 1px solid blue;
  }
</style>

<div id="suggestedInputs">
  <button id="generateInputsBtn" onclick="collectDataAndGenerateInputs()">Generate</button>
</div>

<script>
    collectDataAndGenerateInputs = () => {
        const inputType = document.querySelector('input[name="input_type"]:checked').value;
        if(!inputType) alert('Please select a classification type to get sample inputs')
        else generateInputs(inputType, 4)

    }

    generateInputs = (clsType, count) => {
        fetch('/generate-inputs', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({ cls_type: clsType, count: count})
        })
        .then(response => response.json())
        .then(data => renderInputs(data.inputs))
        .catch(error => console.error('Error', error));
    }

    renderInputs = (textInputs) => {
      console.log('rendering inputs...')
        const suggestedInputsDiv = document.getElementById('suggestedInputs');
        suggestedInputsDiv.innerHTML = '';

        textInputs.forEach(textInput => {
          console.log(textInput)
            const input_span = document.createElement('span');
            input_span.textContent = textInput;
            input_span.onclick = () => selectInput(textInput)
            input_span.classList.add('suggested_input_span')
            suggestedInputsDiv.appendChild(input_span);
        });
    }
</script>