<div id="suggestedInputs" style="display: none;">
  <button id="generateInputsBtn" onclick="generateInputs('spam', 4)">Generate</button>
</div>

<script>
    generateInputs = (clsType, count) => {
        fetch('/generate-inputs', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: { cls_type: clsType, count: count}
        })
        .then(response => {
          console.log('got this response from the server:')
          console.log(response)
          return response.json()
        })
        .then(data => renderInputs(data.inputs))
        .catch(error => {
          console.log('got an error response back from the server:')
          console.log('Error:', error)
        });
    }

    renderInputs = (textInputs) => {
        const suggestedInputsDiv = document.getElementById('suggestedInputs');
        suggestedInputsDiv.innerHTML = '';

        textInputs.forEach(textInput => {
            const span = document.createElement('span');
            span.textContent = textInput;
            span.onclick = () => selectInput(textInput)
            suggestedInputsDiv.appendChild(span);
        });
    }
</script>